body.popup-open,.Navpopup-open {
  overflow: hidden;
}
.Navpopup {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
  overflow: auto;
  top: -100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.Navpopup.active {
  animation: slideFromBottom 0.5s forwards;
}

.Navpopup.closing {
  animation: slideToBottom 0.5s backwards;
}

.popup {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(30px);
  z-index: 3;
  display: flex;
  justify-content: center;
  overflow: auto;
  top: -100vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-items: center;
}

.popup.active {
  animation: slideFromBottom 0.5s forwards;
}

.popup.closing {
  animation: slideToBottom 0.5s backwards;
}

@keyframes slideFromBottom {
  from {
    top: 100vh;
  }
  to {
    top: 0;
  }
}

@keyframes slideToBottom {
  from {
    top: 0;
  }
  to {
    top: 100vh;
  }
}

.Navpopup-inner {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  border-radius: 20px;
  background-color: #fff;
}

.popup-inner {
  position: relative;
  width: 100%;
  max-width: fit-content;
  overflow: auto;
  border-radius: 20px;
  background-color: #fff;
}

.Navclose-btn-cont {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn-cont {
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.close-btn {
  border: 1px solid #000;
  border-radius: 50%;
  padding: 10px;
}

.close-btn-icon {
  font-size: 30px;
  transition: 0.5s all ease-in-out;
}

.close-btn-icon:hover {
  transform: scale(1.3);
}
